.headerme{
  background: #4c4c4c;
  padding-top: 5.5rem;
  min-height: 720px;
  overflow: hidden;
}
.header-text{
  padding-top: 12rem;
  font-size: 4.5rem;   
  font-family: Montserrat;
  font-weight: 700;
}

.headerhr{
  width:65%;
  border-top: 0.25rem solid #7f1746; 
  margin-top : 2rem !important;
  margin-bottom : 2rem !important;
}
.headermetext{
  font-weight: 300 !important;
}

.about{
  min-height: 720px;
}

.about-head{
  font-size: 3rem;
}

.abouthr{
  border-top: 0.25rem solid #7f1746; 
  margin-top : 2rem !important;
  margin-bottom : 2rem !important;
  width: 30%;
}
.aboutintro{
  font-weight: 300;
}

.btn-text{
  font-family: Montserrat;
  font-weight: 700;
}
.experience{
  min-height: 700px;

}

.header-exp{
  padding-top: 4rem !important;
  font-size: 4rem;   
  font-family: Montserrat;
  font-weight: 700;
}

.dataexp{
  padding-top: 5rem ;
}
.exp-card{
  font-family: 'Courier New', Courier, monospace;
}
.exp-card-1{
  font-family: 'Courier New', Courier, monospace;
  font-size: 15px;
}
.exp-date{
  font-family: 'Courier New', Courier, monospace;
  padding-inline-start: 0.45rem;
}

.content-center{
  padding-left: 10rem;
}

.card-ul{
  margin-block-start: 0 !important;
  padding-inline-start: 1.45rem !important;
  margin-bottom: 0!important;
}

.project{
  min-height: 720px;
  padding-top: 1px;
  background: #7f1746;
}

.skills{
  min-height: 720px;
}

.education{
  min-height: 720px;
}

.contact{
  min-height: 600px;
  overflow: hidden;
}

.bg-card{
  background:#181413;
}
.card-link{
  font-size: 1rem;
  font-weight: 400;
  font-family: Montserrat;
}
.card-link-1{
  font-size: 1rem;
  font-weight: 400;
  font-family: Montserrat;
}
.card-img-edu{
  padding-bottom: 2.5rem;
  border-bottom: 0.25rem solid #000;
}
.card-img-jj{
  border-bottom: 0.25rem solid #000;
}
.exp-card-edu{
  font-family: 'Montserrat';
  font-size: 12.5px;
}

.exp-hr{
  border-top: 0.25rem solid #7f1746; 
  margin-top : 2rem !important;
  margin-bottom : 2rem !important;
}

.btn-social{
  margin-left: 4rem;
}

.socialize{
  text-decoration: none;
  color: #fff;
  text-transform: none;
}

.socialize:hover{
  color: #fff !important;
}

.text-skills{
  color:  #7f1746;
}

.footer-span{
  color: #721c24;
  font-family: "Montserrat";
  font-style: italic; 
  font-size: large; 
  font-weight: 600;
}
.footer{
  font-family: "Lato" !important;
  font-size: large; 
  font-weight: 400;
  letter-spacing: 1px;
}
.copyright{
  color: white;
   background-color: transparent;
}
#contact{
  padding: 0 0 !important;
}
body{
  background-color: #000;
}

  .younity-card{
      padding-left: 10rem;
      padding-bottom: 3rem !important;
      padding-top: 3rem !important;
  }

.skill-img{
  width: 110px;
}    
.soical-icon{
  margin-right: 3.5rem !important;
}